.youtube {
    display: flex;
    align-items: center;
    padding: 40px;

    .youtubeContainer {
        margin-top: 100px;
        width: 95%;
        padding: 15px 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
            color: rgb(179, 179, 179);
        }
    }

}